/* ------ page css ------ */

/* title text */
h2 {
    color: #002966;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 28px;
    letter-spacing: -0.25px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 0.5px;
    margin: 1;
    margin-left: 1em;
}

/* div section */
section {
    margin: auto;
    
}

/* progress loader */
#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 400px;
    top: 300px;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -170px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #90ee90;
    border-radius: 4px;
}

/* chart */
.axis {
      font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#chart {
    /*left: 400px;
    top: 350px;*/
    width: 30%;
    height: 200px;
    padding: 2px;
    float: left;
    margin-left: 10px;
}

#chart h3 {
    color: #002966;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 20px;
    margin-top: -5px;
    margin-left: 30px;
    margin-bottom: -15px;
    letter-spacing: -0.25px;
    font-weight: normal;

}

#chart p {
    color: #5c85ad;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 16px;
    margin-left: 30px;
    letter-spacing: -0.25px;
    font-weight: normal;

}

/* chart legend */

#legend {
    color: #002966;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 160px;
    margin-bottom: -15px;
    float: left;
    position: relative;
    padding: 20px;
    
}

.list_legend { 
    list-style: none; 

}

.list_legend li { 
    float: left;
    margin-right: 10px;

}

.list_legend span { 
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;

}

.list_legend .unknownvariation { 
    background-color: #696969;

}

.list_legend .weakvariation {
    background-color: #dc143c;

}

.list_legend .strongvariation { 
    background-color: #b22222;

}

.list_legend .novariation {
    background-color: #228b22;

}

/* data description */

#description {
    color: #002966;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    margin-left: -20px;
    margin-top: 520px;
    position: absolute;
    
}

#description h4 {
    color: #002966;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin-top: -15px;
    margin-bottom: -5px;
    margin-left: 20px;
}

/* map */
#map {
	width: 53%; 
	height: 450px; 
	border: 1px solid #a3a3a3;
    float: left;
}